<mat-toolbar color="primary">
    <span matTooltip="My Super Angular Material App ;)">
        [App Logo]
    </span>
    <span *ngIf="isAuthenticated()">
        Hi {{currentUser.firstName}}!
    </span>

    <span class="toolbar-spacer"></span>

    <mat-icon class="toolbar-icon" *ngIf="isAuthenticated()">account_circle</mat-icon>
    <a routerLink="/logout" *ngIf="isAuthenticated()" matTooltip="Logout">
        <mat-icon class="toolbar-icon">exit_to_app</mat-icon>
    </a>
    <a routerLink="/login" *ngIf="!isAuthenticated()" matTooltip="Login">
        <mat-icon class="toolbar-icon">input</mat-icon>
    </a>
    <a routerLink="/register" *ngIf="!isAuthenticated()" matTooltip="Register">
        <mat-icon class="toolbar-icon">assignment</mat-icon>
    </a>
</mat-toolbar>

<router-outlet></router-outlet>