<div class="container">
    <div class="form">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Logout
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    You have been logout correctly :)
                </p>

            </mat-card-content>

            <mat-card-actions>
                <button mat-button routerLink="/login">LOGIN</button>
            </mat-card-actions>

        </mat-card>
    </div>
    <footer>
        <!-- Footer ... -->
    </footer>
</div>